.contact-page-element-wrapper {
  .contact-page-content-wrapper {
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../assets/img/page-header.jpg");
  }
}

//banner
.contact-banner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: "Nunito", sans-serif !important;
    font-size: 3.5rem !important;
    font-weight: bolder;
    color: rgb(251, 175, 50);
  }
  h4 {
    font-family: "Nunito", sans-serif !important;
    font-weight: bolder;
    color: white;
    span {
      color: rgb(251, 175, 50);
    }
  }
  h4:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .contact-banner {
    h1 {
      font-size: 2rem !important;
    }
  }
}

//contact
.contact-page-wrapper {
  margin-top: 70px;
  h5 {
    color: rgb(25, 135, 84);
    font-family: "Nunito", sans-serif;
  }
  .contact-page-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: rgb(69, 69, 69);
      max-width: 40rem;
      font-family: "Nunito", sans-serif;
      font-weight: 900;
    }
  }
  .contact-page-details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    .contact-details-row {
      height: 8rem;
      background-color: rgb(245, 245, 245);
      width: 85%;
      .contact-details-column {
        display: flex;
        align-items: center;
        justify-content: center;
        .contact-details-icon {
          background-color: rgb(251, 175, 50);
          height: 3rem;
          width: 3rem;
          border-radius: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
        .contact-details-icon:hover {
          background-color: rgb(25, 135, 84);
        }
        h5 {
          color: rgb(25, 135, 84);
          font-family: "Nunito", sans-serif;
          margin: 0px !important;
        }
        p {
          font-family: "Nunito", sans-serif;
          color: rgb(112, 111, 111);
          margin: 0px !important;
          font-size: 13px;
        }
        .contact-social-icon {
          color: rgb(251, 175, 50);
        }
        .contact-social-icon:hover {
          color: rgb(25, 135, 84);
        }
      }
    }
  }
  .google-map-wrapper {
    margin-top: 20px;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .google-map-row {
      width: 85%;
      height: auto;
      background-color: whitesmoke;
      .google-map {
        background-color: whitesmoke;
      }
      .contact-form {
        .form-input {
          font-family: "Nunito", sans-serif;
        }
        .form-input:focus {
          outline: none !important;
          box-shadow: none !important;
        }
        .contact-form-button {
          height: 3rem;
          width: 9rem;
          font-family: "Nunito", sans-serif;
          background-color: rgb(251, 175, 50);
          border: 2px solid rgb(251, 175, 50);
          color: white;
        }
        .contact-form-button:focus {
          outline: none !important;
          box-shadow: none !important;
        }
        .contact-form-button:hover {
          background-color: white;
          color: rgb(251, 175, 50);
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .contact-page-wrapper {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    .contact-page-details {
      .contact-details-row {
        width: 100%;
        height: 20rem;
        padding: 10px;
      }
    }
    .google-map-wrapper {
      margin: 0px;
      .google-map-row {
        width: 100%;
        .contact-form {
          padding: 10px !important;
        }
      }
    }
  }
}
