@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700");
body {
  margin: 0;
  font-family: "open sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "open sans", sans-serif !important;
}
